html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Hind Siliguri', sans-serif;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#hero1 {
    background: url(../images/code.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero2 {
    background: url(../images/desk.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#hero3 {
    background: url(../images/education.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

/* HERO SECTION START */

.contact-button {
    border: 1px solid white;
    border: 1px solid #FFF;
    font-size: 2.5rem;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    padding: 2% 10%;
    border-radius: 7px;
}

.contact-button-container {
    display:none;

}

.contact-button:hover {
    background-color: #FFFFFF;
    color: #173e43;
}

#left-corner {
    padding-top: 3%;
    height: 10rem;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none
}

/* visited link */
a:visited {
    color: white;
    text-decoration: none
}

/* mouse over link */
a:hover {
    color: white;
    text-decoration: none
}

/* selected link */
a:active {
    color: white;
    text-decoration: none;
}

.welcome-box {
    padding-top: 18%;
}

#welcome-container-left {
    width:20%;
}
#welcome-container {
    width:60%;
}
#welcome-container-right {
    width: 20%;
    margin-bottom: 12%;
}

.welcome-text {
    background-color: #FFFFFF;
    opacity: 0.7;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    border-radius: 7px;
    border: 1px solid #333;
    display:none;
}

#first-line {
    z-index: 1;
    font-size: 4rem;
    color: #173e43;
}

#second-line {
    z-index: 1;
    font-size: 2.5rem;
    color: #333;
}

#third-line {
    z-index: 1;
    font-size: 4rem;
    color: #173e43;
    font-weight: bold;
}

.jumbotron .scroll-down {
    height: 80px;
    width: 110px;
    display: block;
    position: absolute;
    bottom: 0px;
    right: 5%;
    background-color: #222;
    text-align: center;
    z-index: 6;
}

jumbotron .scroll-down .glyphicon {
    color: #FFF;
    font-size: 30px;
    padding-right: 2px;
    padding-top: 20px;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
p{
	line-height: 2em;
	margin:0 0 20px;
	text-align: center;
}

.welcome-text-container{
    margin:0px auto;
    padding:20px;
    background: #173e43;
    border-radius:30px;
    border:#CCC 1px solid;
    width: 65%;
    opacity: 0.7;
    display: none;
}

#typed-line1, #typed-line2, #client-line {
    color: #FFFFFF;
    font-size: 2.5rem;
}

.resume-social {
    display: none;
}

#buttons-left {
    width:30%;
}
#buttons-center {
    width: 40%;
}
#buttons-right {
    width: 30%;
}

.resume-button {
    border: 1px solid white;
    border: 1px solid #FFF;
    font-size: 2.5rem;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    padding: 3% 66%;
    border-radius: 7px;
}

.resume-button:hover {
    background-color: #FFFFFF;
    color: #173e43;
}

.education-button {
    border: 1px solid white;
    border: 1px solid #FFF;
    font-size: 2.5rem;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    padding: 2% 35%;
    border-radius: 7px;
}

.education-button:hover {
    background-color: #FFFFFF;
    color: #173e43;
}

.resume-button-container {
    float:left;
}

.education-button-container {
    float:left;
    margin-left: 29%;
}

#down-div {
   /* border: solid white 1pt;*/
    float:right;
    width: 20%;
    bottom:0;
    right:0;
    position: absolute;
    cursor: pointer;
}

.arrow-down{
    border-top: 1pt solid white;
    width: 40%;
    padding-top: 30px;
    margin: auto;
    background: #173e43;
    opacity: 0.7;
}

.glyphicon.glyphicon-chevron-down {
    color: #FFF;
    font-size: 30px;
    padding-right: 2px;
    padding-top: 20px;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

/* HERO SECTION END */

/* PROFILE SECTION START*/

#profile {
    background: #FFF none repeat scroll 0% 0%;
    text-align: center;
    position: relative;
}

.content p {
    color: #333;
    text-align: left;
}

.container {
    max-width: 1280px;
    padding: 10px 180px;
}

.profile_title {
    z-index: 1;
    font-size: 6rem;
    color: #173e43;
}

.profile_short_text {
    z-index: 1;
    font-size: 3rem;
    text-align: center;
}

#about_container {
    padding-left:0px;

}
#image_container {
    padding: 0;
}
.about_title {
    z-index: 1;
    font-size: 3rem;
    color: #173e43;
    padding-top: 20px;
    text-align: left;
    padding-left: 20px;
}

.img_circle {
    border-radius: 50%;
    height: 10%;
    width: 190px;
    -webkit-box-shadow: 10px 10px 2px 2px #333;
    box-shadow: 0px 0px 2px 7px #848484;
}

.details_title {
    z-index: 1;
    font-size: 3rem;
    color: #173e43;
    padding-top: 20px;
    text-align: left;
    padding-left: 20px;
}

.details_subtitle {
    text-align: left;
    font-weight: bold;
}

.details_text {
    text-align: left;
}

hr {
    margin: 40px 0px;
    border-color: #333;
    opacity: 0.2;
}

.row {
    margin: 0px;
}
/* PROFILE SECTION END */

#contact {
    background-color: rgba(12, 2, 15, 0.2)
}

.hero {
    text-align: center;
    position: relative;
    width: 100%;

}

.inner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.hero .image-cover {
    background: rgba(0, 0, 0, 0.3) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
    height: 100vh;
}

.copy {
    position: absolute;
    top: 50%;
    height: 10em;
    margin-top: -5em;
    width: 100%;
}

.hero h1, .hero p, .hero h2 {
    color: #fff;
}

h2 {
    margin: 0px;
    font-weight: 400;
    font-size: 2vw;
    padding: 0px 20px;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    padding: 0px 20px;
}

.footer {
    padding: 1% 5%;
    text-align: center;
    background-color: #373B44;
    color: black;
    border-style: solid;
    border:1px;
}



.pointer {
    position: absolute;
    top: 96%;
    border:1px;
    border-style: solid;
    float: right;
}

#contact_btn {
    margin-left: 85%;
    margin-top: 1%;
    background: transparent;
    color:white;
    width:10%;
}
#down_btn {
    background: transparent;
    color:white;
    width: 200%
}

#background_btn {
    background: transparent;
    color:white;
    width:10%;

}

#resume_btn {
    background: transparent;
    color:white;
    width:10%;
}
.header_nav {

}

.bottom_nav {
    position: absolute;
    bottom: 0;
    left: 85%;
}


@media only screen and (min-width : 481px) and (max-width : 1024px) {

    /* Profile */
    .profile_title {
        z-index: 1;
        font-size: 5rem;
        color: #173e43;
        margin-top: 0;
        margin-bottom: 0;
    }

    .profile_short_text {
        font-size: 2.5rem;
    }
    hr {
        border-color: #333;
        opacity: 0.2;
        width: 125%;
        margin-left: -45px;
        margin-bottom: 0px;
        margin-top: 10px;
    }

    #about_container {
        width: 100%;
        padding: 0;
        padding-bottom: 10px;
    }



    .about_title {
        z-index: 1;
        font-size: 2.3rem;
        color: #173e43;
        padding-top: 20px;
        text-align: center;
    }

    .details_title {
        z-index: 1;
        font-size: 2.3rem;
        color: #173e43;
        padding-top: 0;
        text-align: center;
    }

    .details_subtitle {
        text-align: center;
        font-weight: bold;
    }

    .details_text {
        text-align: center;
    }

    .content p {
        color: #333;
        text-align: center;
    }

    .row {
        margin: -10px -60px 0px;
    }
    /* Profile END*/
}

@media only screen and (min-width : 200px) and (max-width : 480px) {

    /* Profile */
    .profile_title {
        z-index: 1;
        font-size: 2.7rem;
        color: #173E43;
        margin-bottom: 5px;
    }

    .profile_short_text {
        font-size: 1.9rem;
    }
    hr {
        border-color: #333;
        opacity: 0.2;
        width: 100%;
        margin-top: 10px;
    }

    #about_container {
        width: 100%;
        padding: 0;
        padding-bottom: 10px;
    }

    #image_container {
        width: 100%;
        padding: 0;
    }

    #details_container {
        width: 100%;
        padding: 0;
    }
    .about_title {
        z-index: 1;
        font-size: 2rem;
        color: #173e43;
        padding-top: 10px;
        text-align: center;
    }

    .details_title {
        z-index: 1;
        font-size: 2rem;
        color: #173e43;
        padding-top: 0;
        text-align: center;
    }

    .details_subtitle {
        text-align: center;
        font-weight: bold;
    }

    .details_text {
        text-align: center;
    }

    .content p {
        color: #333;
        text-align: center;
    }

    .row {
        margin: -10px -60px 0px;
    }

    /* Profile END*/
}
